BR2_x86_64=y
BR2_x86_rocketlake=y
BR2_KERNEL_HEADERS_6_12=y
BR2_PACKAGE_GLIBC_UTILS=y
BR2_BINUTILS_VERSION_2_45_X=y
BR2_GCC_VERSION_15_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PACKAGE_HOST_GDB=y
BR2_GDB_VERSION_16=y
BR2_CCACHE=y
BR2_CCACHE_DIR="/media/ccache"
BR2_CCACHE_INITIAL_SETUP="--max-size=200G"
# BR2_CCACHE_USE_BASEDIR is not set
BR2_GLOBAL_PATCH_DIR="board/fli4l/patches"
BR2_FORCE_HOST_BUILD=y
BR2_PER_PACKAGE_DIRECTORIES=y
BR2_ROOTFS_DEVICE_CREATION_STATIC=y
BR2_ENABLE_LOCALE_WHITELIST="C en_US de_DE"
BR2_GENERATE_LOCALE="C.UTF-8 en_US de_DE"
BR2_SYSTEM_ENABLE_NLS=y
BR2_TARGET_TZ_INFO=y
BR2_TARGET_LOCALTIME="Europe/Berlin"
BR2_ROOTFS_OVERLAY="board/fli4l/rootfs_overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/fli4l/post_build.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.12.71"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/fli4l/linux-config-x86_64"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_LINUX_KERNEL_NEEDS_HOST_LIBELF=y
BR2_PACKAGE_BUSYBOX_CONFIG="board/fli4l/busybox.config"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_ALSA_UTILS=y
# BR2_PACKAGE_ALSA_UTILS_ALSACTL is not set
BR2_PACKAGE_ALSA_UTILS_AMIXER=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_FAAD2=y
BR2_PACKAGE_FFMPEG_NONFREE=y
BR2_PACKAGE_KODI=y
BR2_PACKAGE_KODI_ALSA_LIB=y
BR2_PACKAGE_KODI_EVENTCLIENTS=y
BR2_PACKAGE_KODI_LIBBLURAY=y
BR2_PACKAGE_KODI_LIBCEC=y
BR2_PACKAGE_KODI_LCMS2=y
BR2_PACKAGE_KODI_LIBMICROHTTPD=y
BR2_PACKAGE_KODI_UPNP=y
BR2_PACKAGE_KODI_IMAGEDECODER_HEIF=y
BR2_PACKAGE_KODI_IMAGEDECODER_RAW=y
BR2_PACKAGE_KODI_INPUTSTREAM_ADAPTIVE=y
BR2_PACKAGE_KODI_INPUTSTREAM_FFMPEGDIRECT=y
BR2_PACKAGE_KODI_INPUTSTREAM_RTMP=y
BR2_PACKAGE_KODI_PVR_HTS=y
BR2_PACKAGE_KODI_PVR_PLUTOTV=y
# BR2_PACKAGE_KODI_SKIN_ESTUARY is not set
BR2_PACKAGE_KODI_SKIN_CONFLUENCE=y
BR2_PACKAGE_KODI_VISUALISATION_MATRIX=y
BR2_PACKAGE_LAME=y
BR2_PACKAGE_MJPEGTOOLS=y
BR2_PACKAGE_MPG123=y
BR2_PACKAGE_PIGZ=y
BR2_PACKAGE_ZSTD=y
BR2_PACKAGE_GDB=y
BR2_PACKAGE_GDB_DEBUGGER=y
BR2_PACKAGE_MCELOG=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_VALGRIND=y
BR2_PACKAGE_GETTEXT=y
BR2_PACKAGE_GIT=y
BR2_PACKAGE_GREP=y
BR2_PACKAGE_CIFS_UTILS=y
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_DOSFSTOOLS_FSCK_FAT=y
BR2_PACKAGE_DOSFSTOOLS_MKFS_FAT=y
BR2_PACKAGE_MTOOLS=y
BR2_PACKAGE_NFS_UTILS=y
BR2_PACKAGE_LIBERATION=y
BR2_PACKAGE_GHOSTSCRIPT=y
BR2_PACKAGE_IGT_GPU_TOOLS=y
BR2_PACKAGE_LIBVA_UTILS=y
BR2_PACKAGE_MESA3D_LLVM=y
BR2_PACKAGE_MESA3D_RUSTICL=y
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_IRIS=y
BR2_PACKAGE_MESA3D_OPENGL_EGL=y
BR2_PACKAGE_MESA3D_OPENGL_ES=y
BR2_PACKAGE_XKEYBOARD_CONFIG=y
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_LINUX_FIRMWARE_I915=y
BR2_PACKAGE_LINUX_FIRMWARE_MEDIATEK_MT7922=y
BR2_PACKAGE_LINUX_FIRMWARE_RTL_8169=y
BR2_PACKAGE_LINUX_FIRMWARE_CX23885=y
BR2_PACKAGE_ACPID=y
BR2_PACKAGE_APCUPSD=y
BR2_PACKAGE_DBUS_GLIB=y
BR2_PACKAGE_DMIDECODE=y
BR2_PACKAGE_GPTFDISK=y
BR2_PACKAGE_GPTFDISK_GDISK=y
BR2_PACKAGE_GPTFDISK_SGDISK=y
BR2_PACKAGE_HDDTEMP=y
BR2_PACKAGE_HWLOC=y
BR2_PACKAGE_I2C_TOOLS=y
BR2_PACKAGE_IUCODE_TOOL=y
BR2_PACKAGE_KBD=y
BR2_PACKAGE_MINICOM=y
BR2_PACKAGE_MSR_TOOLS=y
BR2_PACKAGE_PCIUTILS=y
BR2_PACKAGE_RNG_TOOLS=y
BR2_PACKAGE_SMARTMONTOOLS=y
BR2_PACKAGE_USB_MODESWITCH_DATA=y
BR2_PACKAGE_USBUTILS=y
BR2_PACKAGE_LUA=y
BR2_PACKAGE_PERL=y
BR2_PACKAGE_PERL_DATE_MANIP=y
BR2_PACKAGE_PERL_ENCODE_DETECT=y
BR2_PACKAGE_PERL_FILE_SLURP=y
BR2_PACKAGE_PERL_LWP_PROTOCOL_HTTPS=y
BR2_PACKAGE_PERL_MAIL_SPAMASSASSIN=y
BR2_PACKAGE_PERL_MAIL_SPAMASSASSIN_CONTACT_ADDRESS="admin@fli4l"
BR2_PACKAGE_PHP=y
BR2_PACKAGE_PHP_SAPI_APACHE=y
BR2_PACKAGE_PHP_SAPI_CLI=y
BR2_PACKAGE_PHP_EXT_CALENDAR=y
BR2_PACKAGE_PHP_EXT_FILEINFO=y
BR2_PACKAGE_PHP_EXT_READLINE=y
BR2_PACKAGE_PHP_EXT_BZIP2=y
BR2_PACKAGE_PHP_EXT_PHAR=y
BR2_PACKAGE_PHP_EXT_ZIP=y
BR2_PACKAGE_PHP_EXT_OPENSSL=y
BR2_PACKAGE_PHP_EXT_DBA=y
BR2_PACKAGE_PHP_EXT_PGSQL=y
BR2_PACKAGE_PHP_EXT_SQLITE=y
BR2_PACKAGE_PHP_EXT_PDO=y
BR2_PACKAGE_PHP_EXT_PDO_POSTGRESQL=y
BR2_PACKAGE_PHP_EXT_PDO_SQLITE=y
BR2_PACKAGE_PHP_EXT_PDO_UNIXODBC=y
BR2_PACKAGE_PHP_EXT_GETTEXT=y
BR2_PACKAGE_PHP_EXT_ICONV=y
BR2_PACKAGE_PHP_EXT_INTL=y
BR2_PACKAGE_PHP_EXT_MBSTRING=y
BR2_PACKAGE_PHP_EXT_EXIF=y
BR2_PACKAGE_PHP_EXT_GD=y
BR2_PACKAGE_PHP_EXT_BCMATH=y
BR2_PACKAGE_PHP_EXT_GMP=y
BR2_PACKAGE_PHP_EXT_TOKENIZER=y
BR2_PACKAGE_PHP_EXT_CURL=y
BR2_PACKAGE_PHP_EXT_FTP=y
BR2_PACKAGE_PHP_EXT_SOCKETS=y
BR2_PACKAGE_PHP_EXT_PCNTL=y
BR2_PACKAGE_PHP_EXT_SHMOP=y
BR2_PACKAGE_PHP_EXT_SYSVMSG=y
BR2_PACKAGE_PHP_EXT_SYSVSEM=y
BR2_PACKAGE_PHP_EXT_SYSVSHM=y
BR2_PACKAGE_PHP_EXT_CTYPE=y
BR2_PACKAGE_PHP_EXT_FILTER=y
BR2_PACKAGE_PHP_EXT_SOAP=y
BR2_PACKAGE_PHP_EXT_SIMPLEXML=y
BR2_PACKAGE_PHP_EXT_XML=y
BR2_PACKAGE_PHP_EXT_XMLREADER=y
BR2_PACKAGE_PHP_EXT_XMLWRITER=y
BR2_PACKAGE_PHP_EXT_XSL=y
BR2_PACKAGE_PHP_IMAGICK=y
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_PYTHON3_PY_ONLY=y
BR2_PACKAGE_PYTHON3_BZIP2=y
BR2_PACKAGE_PYTHON3_CURSES=y
BR2_PACKAGE_PYTHON3_READLINE=y
BR2_PACKAGE_PYTHON3_XZ=y
BR2_PACKAGE_PYTHON_CHARDET=y
BR2_PACKAGE_PYTHON_EMAILPROXY=y
BR2_PACKAGE_PYTHON_PYCRYPTODOMEX=y
BR2_PACKAGE_PYTHON_SETUPTOOLS=y
BR2_PACKAGE_TCL=y
# BR2_PACKAGE_ALSA_LIB_TOPOLOGY is not set
BR2_PACKAGE_LIBBROADVOICE=y
BR2_PACKAGE_LIBCODEC2=y
BR2_PACKAGE_LIBG7221=y
BR2_PACKAGE_LIBILBC=y
BR2_PACKAGE_LIBSILK=y
BR2_PACKAGE_LIBSNDFILE=y
BR2_PACKAGE_LIBSOUNDTOUCH=y
BR2_PACKAGE_OPUS=y
BR2_PACKAGE_TREMOR=y
BR2_PACKAGE_LIBZIPPP=y
BR2_PACKAGE_LIBOPENSSL_BIN=y
BR2_PACKAGE_LIBPQXX=y
BR2_PACKAGE_POSTGRESQL_FULL=y
BR2_PACKAGE_POSTGRESQL_16=y
BR2_PACKAGE_INTEL_MEDIADRIVER_NONFREE=y
# BR2_PACKAGE_INTEL_MEDIADRIVER_GEN8 is not set
# BR2_PACKAGE_INTEL_MEDIADRIVER_GEN9 is not set
# BR2_PACKAGE_INTEL_MEDIADRIVER_GEN11 is not set
BR2_PACKAGE_INTEL_VPL_GPU_RT=y
BR2_PACKAGE_LIBDRM_INSTALL_TESTS=y
BR2_PACKAGE_LIBQRENCODE=y
BR2_PACKAGE_LIBQRENCODE_TOOLS=y
BR2_PACKAGE_TIFF_UTILITIES=y
BR2_PACKAGE_LIBV4L=y
BR2_PACKAGE_LIBV4L_UTILS=y
BR2_PACKAGE_LIBYAML=y
BR2_PACKAGE_DAV1D=y
BR2_PACKAGE_LIBAACS=y
BR2_PACKAGE_LIBUDFREAD=y
BR2_PACKAGE_LIBCURL_CURL=y
BR2_PACKAGE_LIBLDNS=y
BR2_PACKAGE_LIBSHOUT=y
BR2_PACKAGE_ICU_DATA_FILTER_FILE="/home/bernd/buildroot/br8_kodi/package/icu/filters.json"
BR2_PACKAGE_LIBEDIT=y
BR2_PACKAGE_DOVECOT=y
BR2_PACKAGE_DOVECOT_PIGEONHOLE=y
BR2_PACKAGE_EXIM=y
BR2_PACKAGE_FETCHMAIL=y
BR2_PACKAGE_BC=y
BR2_PACKAGE_CLAMAV=y
BR2_PACKAGE_COLLECTD_EMPTY_COUNTER=y
BR2_PACKAGE_COLLECTD_HASHED=y
BR2_PACKAGE_COLLECTD_REGEX=y
BR2_PACKAGE_COLLECTD_TIMEDIFF=y
BR2_PACKAGE_COLLECTD_VALUE=y
BR2_PACKAGE_COLLECTD_AGGREGATION=y
BR2_PACKAGE_COLLECTD_APCUPS=y
BR2_PACKAGE_COLLECTD_BATTERY=y
BR2_PACKAGE_COLLECTD_BIND=y
BR2_PACKAGE_COLLECTD_CGROUPS=y
BR2_PACKAGE_COLLECTD_CONNTRACK=y
BR2_PACKAGE_COLLECTD_CONTEXTSWITCH=y
BR2_PACKAGE_COLLECTD_CPU=y
BR2_PACKAGE_COLLECTD_CPUFREQ=y
BR2_PACKAGE_COLLECTD_DF=y
BR2_PACKAGE_COLLECTD_DISK=y
BR2_PACKAGE_COLLECTD_DNS=y
BR2_PACKAGE_COLLECTD_ENTROPY=y
BR2_PACKAGE_COLLECTD_ETHSTAT=y
BR2_PACKAGE_COLLECTD_EXEC=y
BR2_PACKAGE_COLLECTD_FILECOUNT=y
BR2_PACKAGE_COLLECTD_FSCACHE=y
BR2_PACKAGE_COLLECTD_INTERFACE=y
BR2_PACKAGE_COLLECTD_IPTABLES=y
BR2_PACKAGE_COLLECTD_IRQ=y
BR2_PACKAGE_COLLECTD_LOAD=y
BR2_PACKAGE_COLLECTD_MD=y
BR2_PACKAGE_COLLECTD_MEMCACHED=y
BR2_PACKAGE_COLLECTD_MEMORY=y
BR2_PACKAGE_COLLECTD_NETLINK=y
BR2_PACKAGE_COLLECTD_NFS=y
BR2_PACKAGE_COLLECTD_NTPD=y
BR2_PACKAGE_COLLECTD_NUT=y
BR2_PACKAGE_COLLECTD_ONEWIRE=y
BR2_PACKAGE_COLLECTD_OPENVPN=y
BR2_PACKAGE_COLLECTD_PING=y
BR2_PACKAGE_COLLECTD_PROCESSES=y
BR2_PACKAGE_COLLECTD_PROTOCOLS=y
BR2_PACKAGE_COLLECTD_SENSORS=y
BR2_PACKAGE_COLLECTD_SERIAL=y
BR2_PACKAGE_COLLECTD_SNMP=y
BR2_PACKAGE_COLLECTD_SWAP=y
BR2_PACKAGE_COLLECTD_TABLE=y
BR2_PACKAGE_COLLECTD_TAIL=y
BR2_PACKAGE_COLLECTD_TAIL_CSV=y
BR2_PACKAGE_COLLECTD_TCPCONNS=y
BR2_PACKAGE_COLLECTD_THERMAL=y
BR2_PACKAGE_COLLECTD_UPTIME=y
BR2_PACKAGE_COLLECTD_USERS=y
BR2_PACKAGE_COLLECTD_VMEM=y
BR2_PACKAGE_COLLECTD_WIRELESS=y
BR2_PACKAGE_COLLECTD_NOTIFICATION=y
BR2_PACKAGE_COLLECTD_REPLACE=y
BR2_PACKAGE_COLLECTD_SCALE=y
BR2_PACKAGE_COLLECTD_SET=y
BR2_PACKAGE_COLLECTD_CSV=y
BR2_PACKAGE_COLLECTD_NETWORK=y
BR2_PACKAGE_COLLECTD_RRDTOOL=y
BR2_PACKAGE_COLLECTD_RRDCACHED=y
BR2_PACKAGE_COLLECTD_UNIXSOCK=y
BR2_PACKAGE_COLLECTD_WRITEHTTP=y
BR2_PACKAGE_HAVEGED=y
BR2_PACKAGE_XMRIG=y
BR2_PACKAGE_XMRIG_MONEROOCEAN=y
BR2_PACKAGE_XUTIL_UTIL_MACROS=y
BR2_PACKAGE_BYTES2READ=y
BR2_PACKAGE_CRON=y
BR2_PACKAGE_DECODE_CHUNKED=y
BR2_PACKAGE_DSLTOOL=y
BR2_PACKAGE_HCONV=y
BR2_PACKAGE_IMOND=y
BR2_PACKAGE_IMOND_STAT=y
BR2_PACKAGE_LOCKCOMMAND=y
BR2_PACKAGE_MINI_HTTPD=y
BR2_PACKAGE_MINI_LOGIN=y
BR2_PACKAGE_NETCALC_FLI4L=y
BR2_PACKAGE_PROCCGI=y
BR2_PACKAGE_OVPNCTRL=y
BR2_PACKAGE_APACHE=y
BR2_PACKAGE_BIND=y
BR2_PACKAGE_BIND_TOOLS=y
BR2_PACKAGE_BOINC=y
BR2_PACKAGE_BRIDGE_UTILS=y
BR2_PACKAGE_CHRONY=y
BR2_PACKAGE_CONNTRACK_TOOLS=y
BR2_PACKAGE_CRDA=y
BR2_PACKAGE_DHCP=y
BR2_PACKAGE_DHCP_SERVER=y
BR2_PACKAGE_DHCP_RELAY=y
BR2_PACKAGE_DHCP_CLIENT=y
BR2_PACKAGE_DHCPCD=y
BR2_PACKAGE_DNSMASQ=y
BR2_PACKAGE_DNSMASQ_CONNTRACK=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_DROPBEAR_DISABLE_REVERSEDNS=y
BR2_PACKAGE_DROPBEAR_LOCALOPTIONS_FILE="board/fli4l/dropbear_localoptions.h"
BR2_PACKAGE_EBTABLES=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_FPING=y
BR2_PACKAGE_FREESWITCH=y
BR2_PACKAGE_FREESWITCH_MOD_BCG729=y
BR2_PACKAGE_GERBERA=y
BR2_PACKAGE_HOSTAPD=y
BR2_PACKAGE_HOSTAPD_EAP=y
BR2_PACKAGE_HOSTAPD_WPS=y
BR2_PACKAGE_HOSTAPD_WPA3=y
BR2_PACKAGE_IFTOP=y
BR2_PACKAGE_IFUPDOWN=y
BR2_PACKAGE_IGMPPROXY=y
BR2_PACKAGE_IPERF=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_IPSET=y
BR2_PACKAGE_IW=y
BR2_PACKAGE_LEAFNODE2=y
BR2_PACKAGE_LIGHTTPD=y
BR2_PACKAGE_LIGHTTPD_OPENSSL=y
BR2_PACKAGE_LIGHTTPD_PCRE=y
BR2_PACKAGE_MINIDLNA=y
BR2_PACKAGE_MJPG_STREAMER=y
BR2_PACKAGE_MROUTED=y
BR2_PACKAGE_NETCAT_OPENBSD=y
BR2_PACKAGE_NGREP=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_NTPDC=y
BR2_PACKAGE_NTP_NTPQ=y
BR2_PACKAGE_OPENCONNECT=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_OPENVPN=y
BR2_PACKAGE_PPPD_FILTER=y
BR2_PACKAGE_PRIVOXY=y
BR2_PACKAGE_PURE_FTPD=y
BR2_PACKAGE_PURE_FTPD_FTPWHO=y
BR2_PACKAGE_PUTTY=y
BR2_PACKAGE_RADVD=y
BR2_PACKAGE_RP_PPPOE=y
BR2_PACKAGE_RSYNC=y
BR2_PACKAGE_SAMBA4=y
BR2_PACKAGE_SMCROUTE=y
BR2_PACKAGE_SOCAT=y
BR2_PACKAGE_STUNNEL=y
BR2_PACKAGE_TCPDUMP=y
BR2_PACKAGE_TOR=y
BR2_PACKAGE_TRANSMISSION=y
BR2_PACKAGE_TRANSMISSION_CLI=y
BR2_PACKAGE_TRANSMISSION_DAEMON=y
BR2_PACKAGE_TVHEADEND=y
# BR2_PACKAGE_TVHEADEND_DESCRAMBLER is not set
# BR2_PACKAGE_TVHEADEND_SATIP is not set
# BR2_PACKAGE_TVHEADEND_TIMESHIFT is not set
BR2_PACKAGE_TVHEADEND_TRANSCODING=y
BR2_PACKAGE_VNSTAT=y
BR2_PACKAGE_WGET=y
BR2_PACKAGE_WIRELESS_TOOLS=y
BR2_PACKAGE_WIRELESS_TOOLS_LIB=y
BR2_PACKAGE_WPA_SUPPLICANT=y
# BR2_PACKAGE_WPA_SUPPLICANT_NL80211 is not set
BR2_PACKAGE_WPA_SUPPLICANT_EAP=y
BR2_PACKAGE_WPA_SUPPLICANT_WPS=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_PASSPHRASE=y
BR2_PACKAGE_WPA_SUPPLICANT_DBUS=y
BR2_PACKAGE_ZNC=y
BR2_PACKAGE_APG=y
BR2_PACKAGE_GNUPG2=y
BR2_PACKAGE_SCREEN=y
BR2_PACKAGE_SUDO=y
BR2_PACKAGE_YTREE=y
BR2_PACKAGE_COREUTILS=y
BR2_PACKAGE_COREUTILS_INDIVIDUAL_BINARIES=y
BR2_PACKAGE_EFIBOOTMGR=y
BR2_PACKAGE_GKRELLM=y
BR2_PACKAGE_MONIT=y
BR2_PACKAGE_SYSVINIT=y
BR2_PACKAGE_TAR=y
BR2_PACKAGE_UTIL_LINUX_BINARIES=y
BR2_PACKAGE_UTIL_LINUX_SCHEDUTILS=y
BR2_PACKAGE_E3=y
BR2_PACKAGE_MC=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_SYSLINUX=y
BR2_TARGET_SYSLINUX_ISOLINUX=y
BR2_TARGET_SYSLINUX_PXELINUX=y
BR2_TARGET_SYSLINUX_MBR=y
BR2_TARGET_SYSLINUX_EFI=y
